*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.bodyHome{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(184,209,205,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
}
.tituloHome{
    text-align: center;
    margin-top: 2rem;
    border: 5px solid black ;
    background-color:whitesmoke;
    font-weight: bold;
    margin: 2rem;
}
.contenedor{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows:1fr 2fr 1fr ;
    grid-template-areas: "headerHome"
                         "mainHome"
                         "footerHome ";
}

.headerHome{
    grid-area: headerHome;
}
.mainHome{
    grid-area: mainHome;
}
.footerHome{
    grid-area: footerHome ;

}